{% extends "base.html" %}
{% load static %}

{% block 'body' %}

<header class="bg-slate-900">
    <nav class="flex items-center justify-between p-4 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="{% static 'logo.png' %}" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="{% url 'mentorados' %}" class="text-sm/6 font-semibold text-gray-100">Mentorados</a>
        <a href="{% url 'reunioes' %}" class="text-sm/6 font-semibold text-gray-100">Reuniões</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        
      </div>
    </nav>
  </header>
  
  <div class="bg-[#040e1b] min-h-screen">
    <div class="max-w-7xl mx-auto py-8">
        <div class="grid grid-cols-2 gap-12 ">
            <div>
              {% if messages %}
                    {% for message in messages %}
                        <div class="rounded-md {{message.tags}} mt-4">
                            <div class="flex">
                                <div class="ml-3 py-4">
                                    {{message}}

                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'reunioes' %}" method="POST">{% csrf_token %}
                  <h2 class="mt-4 text-2xl/9 font-bold tracking-tight text-gray-100">Abra um horário</h2>
                  <label for="email" class="block text-sm/6 font-medium text-gray-200">Data</label>
                  <input type="datetime-local" name="data" id="date" required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                  
                  <button type="submit" class="flex w-full justify-center cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-4">Abrir horários</button>
                </form>

            </div>
            <div>
              
                
                <ul role="list" class="divide-y divide-gray-800">
                   
                  {% for reuniao in reunioes%}

                    <li class="flex justify-between gap-x-6 py-5">
                      <div class="flex min-w-0 gap-x-4">
                        <img class="size-12 flex-none rounded-full bg-gray-800" src="{{reuniao.mentorado.foto.url}}" alt="">
                        <div class="min-w-0 flex-auto">
                          <p class="text-sm/6 font-semibold text-white">{{reuniao.mentorado.nome}}</p>
                          <p class="mt-1 truncate text-xs/5 text-gray-400">{{reuniao.descricao}}</p>
                        </div>
                      </div>
                      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                        <p class="text-sm/6 text-white">{{reuniao.data.data_inicial}}</p>
                        <p class="mt-1 text-xs/5 text-gray-400"></p>
                      </div>
                    </li>

                  {% endfor %}
                    
                  </ul>
                  
            </div>
        </div>

    </div>
  </div>

{% endblock 'body' %}